@model IEnumerable<MVCMusicStoreApplication.Models.Album>

@{
    ViewBag.Title = "Albums";
}

<h2>Here are the list of albums</h2>

<ul style="list-style-type:disc;">
    @foreach (var item in Model)
    {
        <li>
            @Html.ActionLink(item.Title, "Details",
                  new { id = item.AlbumId })
        </li>
    }
</ul>

<p>
    @Html.ActionLink("Back to Browse", "Browse", "Store",
     new { @class = "btn btn-primary" })
</p>


