@model IEnumerable<EventApplication.Models.Event>

    <div>
        <table class="table table-bordered table-striped">
            <tr>
                <th>Title</th>
                <th>Start Date</th>
                <th>City</th>
                <th>State</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td> <a href="~/Events/Details/@item.EventId">@item.EventTitle</a></td>
                    <td>@item.StartDate</td>
                    <td>@item.City</td>
                    <td>@item.State</td>
                </tr>
            }
        </table>
    </div>
