
@{
    ViewBag.Title = "FindEvent";
}

<h2>Find an event near you!</h2>

<div>
    <div>
        @using (Ajax.BeginForm("EventSearch", "Home",
            new AjaxOptions
            {
                InsertionMode = InsertionMode.Replace,
                HttpMethod = "GET",
                OnFailure = "searchFailed",
                UpdateTargetId = "searchresults",
            }))
        {
            <input type="text" name="q" placeholder="Event Title or Event Type"/>
            <input type="text" name="r" placeholder="City or State"/>
            <input type="submit" value="Search" class="btn btn-primary"/>
        }
        <div id="searchresults"></div>
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/Apps/EventScript.js"></script>
}

