@model EnrollmentApplication.Models.Student

<div class="panel panel-primary">

    <div class="panel-body">
        <p>
            Student of the Month: 
            <b>@Model.FirstName  @Model.LastName</b>
        </p>
    </div>
</div>
